<!DOCTYPE html>
<html>
<center>
<h1>Register</h1>
<form action="/register" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <label>bestStreak:</label>
        <input type="text" name="bestStreak"/>
    </div>
    <div>
        <input type="submit" value="Register"/>
    </div>
</form>
<body>bestStreak used for percentile testing purposes, defaults to 0</body>
</center>
</html>
